
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}


#hero-section {
    height: 450px;
    background-image: url("resources/images/csm_sint-maartensdijk_9f24bfee26.jpg");
    background-size: cover
}

#title-banner {
    color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#smerdiek-weapon {
    margin-top: 20px;
    width: 30px;
}

#smerdiek-title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 28px;
    background-color: #193783;
}                                                                                                                                                                                                                                                                                                                                                                                        

#smerdiek-subtitle {
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #97abde;
    width: 420px;  
    line-height: 18px;
}

#act-section {
    height: 378px;
    background-color: #f7ee87;
    margin-top: 0px;
}

#act-title {
    padding-top: 35px;
}

.act-titles {
    margin: 10px 0px;
}

#activities-img {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;   
    max-width: 720px;
}

.images-prop {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;;
}

.act-sections {
    width: 198px;
    height: 226px;
}

#guide-card {
    height: 294px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    background-color: #6b799d;
    border-bottom: 6px solid #ecd059;
    border-radius: 15px;
}


#guide-img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

#card-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#guide-section {
    height: 394px;
}



