/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    width: 720px;
    margin: auto;
}


img {
    width: 100px;
}

#hero {
    height: 343px;
    background-image: url("resources/images/csm_sint-maartensdijk_9f24bfee26.jpg");
    background-position: center;

}

#title-banner {
    color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#smerdiek-weapon {
    margin-top: 20px;
    width: 30px;
}

#smerdiek-title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 24px;
    background-color: #193783;
}

#smerdiek-subtitle {
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #97abde;
    width: 400px;    
}

#activities-section {
    height: 378px;
    background-color: #f7ee87;
    margin-top: 0px;
}

#act-title {
    padding-top: 35px;
}

.act-titles {
    margin: 10px 0px;
}

#activities-img {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.images-prop {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;;
}
.act-sections {
    width: 198px;
    height: 226px;
}

